body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #29a3a3;
  text-align: center;
  line-height: 1.4em;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

#center {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 40% 40%;
  background-color: #c2f0f0;
}

#title {
  grid-column: 1;
  font-size: 40px;
  font-family: "Libre Barcode 39 Text", cursive;
}

#controlSection {
  grid-row: 1;
}

#firstDiv {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
}

#lastShorted {
  grid-row: 2;
}

#statisticsSection {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 60%;
}
#statisticsSection h2 {
  grid-row: 1;
}

#searchinputs {
  grid-row: 2;
}

#statistics {
  grid-row: 3;
  font-size: 24px;
  text-align: justify;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

#submit {
  background-color: #196666;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#lastShower {
  background-color: #196666;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#urlInput {
  padding: 5px 32px;
  border: none;
  background-color: #ebfafa;
  font-size: 16px;
}

#searchUrl {
  padding: 5px 32px;
  border: none;
  background-color: #ebfafa;
  font-size: 16px;
}

#search {
  background-color: #196666;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#creationDateStat {
  grid-column: 1;
  display: flex;
  text-align: center;
  color: black;
  font-weight: 800;
  background-color: #99e6e6;
  border: 2px solid #196666;
}

#redirectCountStat {
  grid-column: 2;
  display: flex;
  text-align: center;
  color: black;
  font-weight: 800;
  background-color: #99e6e6;
  border: 2px solid #196666;
}
#originalUrlStat {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex; */
  word-wrap: break-word;
  grid-column: 4;
  text-align: justify;
  color: black;
  font-weight: 800;
  background-color: #99e6e6;
  border: 2px solid #196666;
}
#shortlUrStat {
  grid-column: 3;
  display: flex;
  text-align: center;
  color: black;
  font-weight: 800;
  background-color: #99e6e6;
  border: 2px solid #196666;
}

#newShorted {
  color: black;
}

#search:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#submit:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#lastShower:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
